<h1 class="edit-page-header">Daily Wheels Promo</h1>
<div class="weather">
  <h2>Current Biking Conditions in Chapel Hill, NC</h2>
  <h3>
    Temperature:
    <span>{{vm.weather.temp}}</span>
  </h3>
  <h3>
    Weather:
    <span>{{vm.weather.weather}}</span>
  </h3>
</div>

<div class="wrapper">
  <table>
    <tr ng-repeat="bike in vm.all()">
      <td>
        {{bike.promo}}
      </td>
      <td ng-repeat="bike in bike.lineItems">
        {{bike.description}}
      </td>
      <td>
        {{bike.total | currency}}
      </td>
      <td>
        <button ng-click="vm.removeBike(bike)">X</button>
      </td>
    </tr>
  </table>
  <a href="#/bikes/new"><button>+ New Promo</button></a>
</div>
